.input {
  padding: 7px 15px;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
  color: var(--black);

  border: none;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.input::placeholder {
  color: var(--gray);
}

.inputWrapper {
  position: relative;
}

.error {
  border: 1px solid var(--red);
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -20px;

  color: var(--red);
}