.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;

  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  background: var(--primary);
  padding: 25px 30px;
}

.footer a:hover {
  color: var(--green-light);
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
