.filled svg {
  fill: var(--primary);
}

.star {
  display: inline-block;
}

.star svg {
  margin-right: 5px;
  outline: none;

  transition: all 0.2s;
}

.editable {
  cursor: pointer;
}

.ratingWrapper {
  position: relative;
}

.error svg {
  stroke: var(--red);
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -15px;

  color: var(--red);
}