html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans Display", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6748E7;
	--red: #FC836D;
	--red-light: #FEA291;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans Display", sans-serif;
}
